header{
  height: 15vh !important;
}
.DarkMode {
  max-width: 70px;
  max-height: 70px;
  fill: #3777d6;
  cursor: pointer;
}

.DarkMode:hover {
  animation: rotate-right 0.85s ease-in-out both;
}


.articleArea{
 display: grid;
 align-items: center;
 justify-content: center;
 place-self: left;
transform: translate(2%,10%)
}
.typographer{
min-width: 100%;
display: grid;
align-items: center;
gap: 4rem;
}


.mainContent{
  display: flex;
  place-items: center;
  place-self: center;
  place-content: center;
  justify-content: space-around;
  max-width: 100%;
  min-height: 100vh;
}
.callActionButtonsIndexPage {
  margin: 2em 0 0;
  display: flex;
  width: 150%;
}

.heroSectionImage{
  max-width: 50%;
  object-fit: fill;
  aspect-ratio: 1.5 / 1;
  transform: translateY(10%);
}



.headingTitle{
font-size: calc(var(--headTitleFontSizeLarger) + 1vh);
line-height: 1.3;
position: relative;
padding: 0.75em;
width: max-content;
}

.headingTitle::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
  width: 25%;
  height: 25%;
  border: 5px solid var(--primaryColor);
  border-left: none;
  border-bottom: none;
  border-radius: var(--cardBorderRadius);
  border-bottom-right-radius: 0;
  border-top-left-radius: 0;
}

.headingTitle::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: -1;
  width: 25%;
  height: 25%;
  border: 5px solid var(--primaryColor);
  border-top: none;
  border-right: none;
  border-radius: var(--cardBorderRadius);
  border-bottom-right-radius: 0;
  border-top-left-radius: 0;
}

@media only screen and (max-width: 500px) {
  .backgroundEffect {
    height: 100vw;
    width: 100vh;
    font-size: calc(2rem + 100% + 6vw + 12.5vh);
    line-height: 1.3;
    letter-spacing: 15px;
    transform: rotate(-90deg) translate(-10%, -50%);
    text-align: center;
  }
  .logoParent {
    width: 45%;
  }

  .navButton:hover {
    background-color: var(--primaryColor);
  }
  .mainNav {
    z-index: -1;
    display: grid;
    position: fixed;
    top: 0;
    left: 0;
    place-content: center;
    place-items: center;
    text-align: center;
    width: 100vw;
    height: 100vh;
    background-color: black;
    transform: translate(0) !important;
    gap: 15% !important;
    display: none;
  }

  .mainNav[aria-expanded="true"] {
    display: grid;
  }

  .pageLink {
    font-size: var(--headTitleFontSizeLarger);
  }
  .heroSection.indexPage {
    display: grid !important;
    align-items: center;
    justify-content: center;
  }

  .heroSectionImage.indexPage {
    object-fit: fill;
  }
  .mobNumber {
    position: fixed;
    top: 10vh;
    left: 50%;
    width: 20vw;
    height: 20vh;
  }
  .heroSectionTitle.indexPage {
    position: relative;
    width: 100%;
    font-size: var(--headTitleFontSizeLarger);
    text-align: center;
  }

  .heroSectionTitle.indexPage::before {
    border: none;
    width: 70%;
    height: 4px;
    left: 15%;
    bottom: -0.5em;
    border-radius: var(--cardBorderRadius);
    background-color: var(--primaryColor);
  }
  .heroSectionTitle.indexPage::after {
    display: none;
  }

  .heroArticle {
    padding: 0;
    width: 100vw;
    display: grid;
    justify-content: center;
    align-items: center;
    place-content: center;
    place-items: center;
    place-self: center;
  }

  p {
    text-align: center;
    width: 80% !important;
  }
  .callActionButtonsIndexPage {
    margin: 2em 0 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 95%;
  }
  .callActionButtonsIndexPage > a {
    font-size: 1.7rem;
    margin: 0;
  }

  .navButton {
    width: 4.5rem;
    height: 3.5rem;
    display: grid;
    align-content: space-around;
    align-items: center;
  }
  .DarkMode {
    display: none;
  }
  .line {
    width: 100%;
    height: 4px;
    border-radius: var(--cardBorderRadius);
    background-color: var(--primaryColorLight);
  }
}

@keyframes rotate-right {
  0% {
    transform:  rotate(0) scale(1.05);
    transform-origin: center;
    fill: #3777d6;
  }
  50% {
    transform:  rotate(210deg) scale(1.1);
  }
  100% {
    transform: scale(1)  rotate(360deg);
    transform-origin: center;
    fill: #546783;
  }
}

/* Navigation bar Links */

@keyframes navLinksFadeAnim {
  from {
    transform: translateX(800%);
    opacity: 0;
  }
  to {
    transform: translateX(0%);
    opacity: 1;
  }
}

@keyframes AsideLinksFadeAnim {
  from {
    transform: translateX(250%);
    opacity: 0;
  }
  to {
    transform: translateX(-130%);
    opacity: 0.7;
  }
}
